<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="span8">
    <% if @user.awkiposts.any? %>
      <h3>Awkiposts (<%= @user.awkiposts.count %>)</h3>
      <ol class="awkiposts">
        <%= render @awkiposts %>
      </ol>
      <%= will_paginate @awkiposts %>
    <% end %>
  </div>
</div>